@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#logo {
    width: 30px;
    margin-top: -10px;
}

footer {
    background-color: grey;
    color: white;
}